@page "/table"
@attribute [TabItemOption(Text = "Table")]

<PageTitle>Table</PageTitle>

<Table TItem="Foo" AutoGenerateColumns="true" class="table-demo" Height="500" ScrollMode="ScrollMode.Virtual"
        IsPagination="true" PageItemsSource="PageItemsSource" RenderMode="TableRenderMode.Table"
        IsStriped="true" IsBordered="true" IsMultipleSelect="false" ClickToSelect="true"
        ShowSkeleton="true" ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true"
        OnQueryAsync="OnQueryAsync" OnSaveAsync="OnSaveAsync" OnDeleteAsync="OnDeleteAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.Hobby" Items="GetHobbys(context)" />
    </TableColumns>
</Table>
